*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 99.1vw;
    z-index: 1;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_header{
    display: flex;
    justify-content: right;
    margin-right: 72px;
}
.sub_header li{
    margin: 1rem;
    margin-bottom: none;
    font-size: 15px;
    font-weight: 400;
}
.sub_header a{
    color: white;
}

.header{
    display: flex;
    margin-right: 48px;
}

.club_logo{
    width: 100px;
    margin-left: 70px;
}
.logo_word p{
    color: white;
    padding-left: 30px;
    font-size: 30px;
    padding-bottom: 0;
    font-weight: bold;
}
.logo_word span{
    color: white;
    font-size: 17px;
    margin-left: 17px;
}
.club_name{
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    height: 70px;
    margin-left: 30px;
}

.dropbtn{
    background-color: rgba(0,0,0,0);
    color: white;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 20px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    min-width: 100%;
    transition-duration: 0.5s;
    z-index: 1;
}
.dropdown-content a{
    color: white;
    padding: 15px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: #6c6c6c;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #6c6c6c;}
/*헤더 끝*/

.content{
    display: flex;
}

.leftboard{
    width: 25%;
    height: 100vh;
    background-color: #6B6B6B;
    border-right: 2px #000 solid;
    box-shadow: 3px 0px 10px black;
    z-index: 1;
}


.todolist, .commute{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    border: 1px #000 solid;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 4px 8px black;
}
.tdl_top, .commute_top{
    padding: 5px;
    border-bottom: 1px #000 solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #D9D9D9;
}
.tdl_title, .commute_title{
    margin-left: 5px;
    font-size: 30px;
}
.tdl_bottom{
    padding: 5px;
    border-top: 1px #000 solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #D9D9D9;
}
.tdl_bottom_text{
    margin: 5px;
    width: 75%;
    font-size: 20px;
    border-radius: 10px;
}
.tdl_bottom_button{
    margin: 5px;
    width: 15%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.tdl_container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px #000 solid;
}
.tdl_content_checkbox{
    margin: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.tdl_content_text{
    margin: 10px;
    font-size: 24px;
}
.tdl_content_button{
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
}


.commute{
    margin-top: 20px;
    margin-left: 5%;
}
.commute_record_button, .commute_out_button, .commute_in_button{
    margin-left: 15px;
    border: 2px #000 solid;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.commute_content{
    display: flex;
    justify-content: space-between;
}
.commute_content > ul > li{
    margin: 15px;
    font-size: 24px;
    font-weight: 600;
}
.commute_in > li{
    color: rgb(81, 255, 81);
}
.commute_out > li{
    color: gray;
}
.start_time{
    font-size: 14px;
}






.right_board{
    width: 75%;
    height: 100vh;
}
.right_board > img{
    width: 100%;
    height: 100vh;
}

.timer{
    position: absolute;
    top: 15%;
    left: 55%;
    transform: translateX(-50%);
    font-size: 4rem;
    border: 2px #000 solid;
    box-shadow: 2px 4px 8px black;
}

.notice{
    position: absolute;
    top: 15%;
    right: 2%;
    border: 2px #000 solid;
    border-radius: 10px;
    width: 20%;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 4px 8px black;
}
.notice_title{
    font-size: 36px;
}
.notice_container{
    text-align: left;
    margin: 15px;
    font-size: 28px;
}
.notice_container > li{
    color: rgb(40, 40, 40);
}
.notice > hr{
    border: 1.5px #000 solid;
}
.notice_container > hr{
    border: 1px #d5d5d5 solid;
}






/*푸터*/
footer{
    display: flex;
    justify-content: space-around;
    background-color: #2E2E2E;
    height: 100px;
}
footer div p{
    display: inline-block;
    vertical-align: bottom;
    color: white;
    margin-top: 35px;
}
.footer-logo{
    
    width:80px;
    padding-top: 20px;
    
}
.instagram_logo{
    width: 40px;
    height: auto;
    padding-right: 10px;
}
.facebook_logo{
    width: 40px;
    height: auto;

}
.logo-position{
    display: flex;
    justify-content: center;
    align-items: center;
}