*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}
hr{
    border: 1px solid #000;
}

.wrap{
    position: relative;
    height: 100%;
    letter-spacing: -.5px;
}

header{
    display: block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.header{
    margin-top: 57px;
    width: 416px;
    height: 98px;
}

.container{
    display: block;
}
.find-border{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 690px;
    height: 579px;
    margin-top: 41px;
}

.findID-PWline{
    font-size: 20px;
    font-weight: 600;
}
.findID-PWline > a{
    margin-left: 20px;
}

.find-border2{
    
    border: 2px #DCD8D8 solid;
    border-radius: 15px;
}
.find-border2 > h3{
    text-align: center;
    font-size: 22px;
    margin-top: 25px;
    background-color: rgba(0,0,0,0);
}

.input-borderPW{
    display: block;
    border: 2px #DCD8D8 solid;
    border-radius: 15px;
    font-size: 22px;
    width: 592px;
    height: 296px;
    margin-left: 49px;
    margin-top: 25px;
    margin-bottom: 100px;
}
.input-borderPW > ui > hr{
    width: 542px;
    margin-left: 18px;
    margin-top: 25px;
    border: 1px #DCD8D8 solid;
}
.input-borderPW > ui > li{
    margin-top: 25px;
}
.email-dlsemd{
    margin-left: 17px;
    font-weight: 600;
}
.name, .email{
    margin-left: 17px;
    font-weight: 600;
}
.input_name{
    width: 455px;
    height: 37px;
    margin-left: 44px;
}
.input_ID{
    width: 455px;
    height: 37px;
    margin-left: 22px; 

}
.input_email1{
    margin-left: 22px;
    margin-right: 9px;
}
.input_email2{
    margin-left: 9px;
}
.input_email1, .input_email2{
    text-align: center;
    width: 143px;
    height: 37px;
}
.section{
    width: 119px;
    height: 37px;
}
.input_name, .input_ID, .input_email1, .input_email2, .section{
    font-size: 20px;
    border: none;
    background-color: #EBEBEB;
}


.findPW_button{
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    width: 561px;
    height: 42px;
    margin-left: 15px;
    margin-top: 30px;
}

.under-line{
    position: absolute;
    background-color: blue;
    width: 104px;
    height: 4px;
    left:20px;
    top: 26px;
    border-radius: 10px;
    transition: 0.5s;

}