*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}
hr{
    border: 1px solid #000;
}

.wrap{
    position: relative;
    height: 100%;
    letter-spacing: -.5px;
}

header{
    display: block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.header{
    margin-top: 57px;
    width: 416px;
    height: 98px;
}

.container{
    display: block;
    margin-top: 61px;
}
.container .content{
}
.login-board{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 416px;
    height: 326px;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.input-border{
    border: 1px solid #000;
    width: 366px;
    height: 107px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 38px;
    font-size: 20px;
}
.id-box{
    width: 346px;
    height: 33px;
    margin-left: 8px;
    margin-top: 10px;
}
.id-box > a{
    margin-left: 6px;
}
#id{
    border: none;
    width: 304px;
    height: 33px;
    background-color: #c9c9c9;
    margin-left: 10px;
}
.pw-box{
    width: 346px;
    height: 33px;
    margin-left: 8px;
    margin-top: 10px;
}
#password{
    border: none;
    width: 304px;
    height: 33px;
    background-color: #c9c9c9;
    margin-left: 5px;
}
.input-border > hr{
    margin-top: 10px;
}

.login-checkbox{
    margin-left: 37px;
    margin-top: 9px;
}
.login-checkbox > a{
    font-weight: 600;
}

#login{
    margin-top: 8px;
    width: 366px;
    height: 56px;
    border: none;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    margin-left: 25px;
    margin-top: 58px;
    font-size: 25px;
    font-weight: 700;
}

.button-border{
    margin-left: 64px;
    margin-top: 6px;
}
.button-border li{
    display: inline-block;
    margin-right: 14px;
}
.button-border li button{
    background-color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.footer{
    text-align: center;
    margin-top: 15px;
}