*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    opacity:0.8;
    width: 100vw;
    position: fixed; 
    z-index: 1;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header div h1{
    color: white;
}
.sub_header{
    display: flex;
    justify-content: right;
    margin-right: 28px;
    
}
.sub_header li{
    margin: 1em;
    margin-bottom: none;
    font-size: 15px;
    font-weight: 400;
    
}
.sub_header a{
    color: white;
}


.header{
    display: flex;
    margin-right: 80px;
    
}

/*text*/
.text_topic{
    margin-top: 30px;
    text-align: center;
}
.text_topic h1{
    font-size: 50px;
}
.text_topic p{
    font-size: 20px;
}


/*drop-down*/
.dropbtn {
    background-color: black;
    color: white;
    margin-top:0.5em;
    margin-bottom: 1em;
    margin-left:2em;
    margin-right: 2em;
    font-size: 20px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    opacity:0.8;
    min-width: 100%;
    transition-duration: 0.5s;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  .dropdown-content hr{
    background-color: #a3a3a3;
    color: black;
    height: 1px;
    width: 100px;
    margin-left: 0.7em;
  }
  

  .dropdown-content a {
    color: white;
    padding: 15px 16px;
    
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: rgb(73, 74, 74);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(73, 74, 74);}


.club-name{
    display: flex;
    justify-content: left;
}


.club-name a{
    font-size: 13px;
    width:80px;
    text-align: center;
}




.loginboard{
    width: 11.5rem;
    height: 4.5rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f9ffc7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#id{
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    margin-left: 5px;
}
#password{
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    margin-left: 5px;
}
#login{
    margin-top: 8px;
    width: 83px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,255,0.6);
    color: #fff;
    margin-left: 5px;
}
#signin{
    width: 83px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,255,0.6);
    color: #fff;
}