*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}
/*.header{
    width: 100%;
    height: 40px;
    background-color: #2E2E2E;
    color: #fff;
    font-size: 14px;
}
.utile_wrap_right{
    display: flex;
    justify-content: flex-end;
}
.utile_wrap_right > li{
    margin-top: 10px;
    margin-right: 24px;
}
.utile_wrap_right > li > a{
    color: #fff;
}


.subheader{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: rgba(0,255,255,0.5);
    justify-content: space-between;
    font-weight: 800;
    font-size: 22px;
}
.subheader > div{
    display: flex;
}
.sh_wrap_left > a{
    margin-top: 22px;
    margin-left: 50px;
}
.sh_wrap_right > li{
    margin-top: 22px;
    margin-right: 50px;
    margin-left: 90px;
}
*/
/*nav 바*/

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    position: fixed; 
    z-index: 4;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header div h1{
    color: white;
}
.sub_header{
    display: flex;
    justify-content: right;
    margin-right: 28px;
    
}
.sub_header li{
    margin: 1em;
    margin-bottom: none;
    font-size: 15px;
    font-weight: 400;
    
}
.sub_header a{
    color: white;
}


.header{
    display: flex;
    margin-right: 80px;
    
}
.club_logo{
    width: 100px;
 
    margin-left: 70px;
}
.logo-word p{
    color: white;
    padding-left: 30px;
    font-size: 30px;
    padding-bottom: 0;
    font-weight: bold;
}
.logo-word span{
    color:white;
    font-size: 17px;
    margin-left:17px;
}

/*text*/
.text_topic{
    margin-top: 30px;
    text-align: center;
}
.text_topic h1{
    font-size: 50px;
}
.text_topic p{
    font-size: 20px;
}


/*drop-down*/
.dropbtn {
    background-color: black;
    color: white;
    margin-top:0.5em;
    margin-bottom: 1em;
    margin-left:2em;
    margin-right: 2em;
    font-size: 20px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    opacity:1.1;
    min-width: 100%;
    transition-duration: 0.5s;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  .dropdown-content hr{
    background-color: #a3a3a3;
    color: black;
    height: 1px;
    width: 100px;
    margin-left: 0.7em;
  }
  

  .dropdown-content a {
    color: white;
    padding: 15px 16px;
    
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: rgb(73, 74, 74);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(73, 74, 74);}




.club-name{
    display: flex;
    justify-content: left;
}


.club-name a{
    font-size: 13px;
    width:80px;
    text-align: center;
}


/*section*/

section{
    min-height: 100%;
}
.sangji_video{
    width: 100%;
    height: auto;
}
.text_area{
    z-index: 3;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, 20px);
    width: 100%;
    text-align: center;
}
.animated-text{
    display: block;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 3px 3px 4px black;
    font-size: 60px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out , transform 1.5s ease-in-out;
}
.animated-text.show{
    opacity: 1;
    transform: translateY(0);
}

/*
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
*/

.text_topic h1, .text_topic span{
    color: #000;
    text-shadow: none;
}
.text_topic span{
    font-size: 16px;
    font-weight: 800;
}


.section2{
    margin: 100px;
}
.content{
    display: flex;
}
.content > div{
    align-items: center;
}

/*공지사항*/
.board{
    transform: translateY(40px);
    margin: 0 auto;
    border-bottom: 1px #000 solid;
    /*background-color: rgb(205, 219, 214);*/
    width: 550px;
    height: 375px;
}

/*슬라이드 바*/

/*#container{ width: 550px; margin: 0 auto; }
#container h1{ text-align: center;}
.album{height: 400px; width: 100%; overflow: hidden;} /* overflow 되면 숨긴다*/
/*.images{ 
    display: flex; height: 400px; width: 2560px;
    transition-property: transform; /* transform 속성에대해, js코드에 의해 transform 스타일 추가된다*/
    /*transition-duration: 1s; /* transition 지속시간 */
/*}
.image{width: 640px; height: 400px;}
.image:nth-child(1){ background-image: url('sangji1.jpg'); background-repeat: no-repeat; background-size: cover;}
.image:nth-child(2){ background-image: url("sangji2.jpg"); background-repeat: no-repeat; background-size: cover;}
.image:nth-child(3){ background-image: url('sangji3.jpg'); background-repeat: no-repeat; background-size: cover;}
.image:nth-child(4){ background-image: url('sangji4.jpg'); background-repeat: no-repeat; background-size: cover;}

#container button{
    width: 100px; height: 30px; border:none;
    color: none;
   
}

.image p{
    font-size: 20px;
    color: white;
    background-color: #b5b0b0d3;
    text-align: center;
    padding-right: 70px;
    opacity: 0.9;
}

.prev{ 
    float:left;
    z-index: 1;
    transform: translateX(100px) translateY(-100px);
    width: 40px;
    height: 40px;
    border:4px solid white;
    border-radius: 10px;
    cursor:pointer;
}
.next{ 
    float:right;
    transform: translateX(-100px) translateY(-100px);
    z-index: 1;
    width: 40px;
    height: 40px;
    border:4px solid white;
    border-radius: 10px;
    cursor: pointer;
}*/

/*슬라이드 이미지*/
.container{
    transform: translateY(40px);
    width: 550px;
    height: 400px;
    margin: 0 auto;
}
.slideshow-container{
    margin: 0 auto;
}
.slide{
    width: 640px;
    height: 320px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide > img{
    width: 550px;
    height: 340px;
}
.indicators{
    padding-top: 340px;
    text-align: center;
    cursor: pointer;
}
.prev, .next{
    margin: 20px;
}
.prev{
    margin-left: 0;
}



/*푸터*/
footer{
    display: flex;
    justify-content: space-around;
    background-color: #2E2E2E;
    height: 100px;
}
footer div p{
    display: inline-block;
    vertical-align: bottom;
    color: white;
    margin-top: 35px;
}
.footer-logo{
    
    width:80px;
    padding-top: 20px;
    
}
.instagram_logo{
    width: 40px;
    height: auto;
    padding-right: 10px;
}
.facebook_logo{
    width: 40px;
    height: auto;

}
.logo-position{
    display: flex;
    justify-content: center;
    align-items: center;
}

